
<div style="color: white;" >

  <section class="gallery-block compact-gallery" style="padding-top: 15px !important; ">
    <div class="container">
      <button mat-stroked-button (click) ="goBack()"><mat-icon>arrow_back</mat-icon></button>
        <div class="heading" style="margin-bottom: 15px; padding-top: 10px;">
            <h2>{{image.title}}</h2>
        </div>
                        
        <div class="row no-gutters">          
          <div class="col-md-6 col-lg-6 item zoom-on-hover card border-0">
            <a class="lightbox" (click)="open(content)" style="cursor: pointer;">
            <img class="img-fluid image" [src]="image.src" style="border-radius: 5px;">
            <span class="description">
            <span class="description-heading">{{image.title}}</span>
                <span class="description-body">{{image.description}}</span>
                </span>
            </a>
        </div>

        <div class="col-md-6 col-lg-6 item card border-0" style="padding-left: 10px;">
          <p>{{image.category}}</p>

          <p style="font-size: 26px; font-weight: bold;">{{image.title}}</p>
          <p><strong style="font-size: 22px;">{{image.priceFrom}}</strong> 
            <strong style="vertical-align: top;"> kn </strong>
            <strong style="font-size: 22px;">-</strong>
            <strong style="font-size: 22px;"> {{image.priceTo}}</strong> 
            <strong style="vertical-align: top;"> kn </strong>
          </p>
          <p>{{image.description}}</p>
      </div>

      </div>
    </div>
  </section>
  
  </div>

  <ng-template #content let-c="close" let-d="dismiss">    
    <div class="modal-body" style="padding: 1px !important;"> 
      <img class="img-fluid image" [src]="image.src" style="border-radius: 5px;">
    </div>    
  </ng-template>