
<div style="color: white;" >
   
  <section class="gallery-block compact-gallery" style="padding-top: 15px !important;">
    <div class="container">
      <button mat-stroked-button (click) ="goBack()"><mat-icon>arrow_back</mat-icon></button>
        <div class="heading" style="margin-bottom: 15px; padding-top: 10px;">
            <h2>Anniversary</h2>
        </div>
  
        <div class="row no-gutters">
          <div class="col-md-6 col-lg-4 item zoom-on-hover card border-0" *ngFor="let image of images">
              <a class="lightbox" [routerLink]="['/anniversary-details',image.id]">
              <img class="img-fluid image" [src]="image.src" style="border-radius: 5px;">
              <span class="description">
              <span class="description-heading">{{image.title}}</span>
                  <span class="description-body">{{image.description}}</span>
                  </span>
              </a>
          </div>
        
        </div>
    </div>
  </section>

</div>
