section div p{
    color: #3f51b5;
    font-size: 30px;
    text-shadow: 2px 3px 5px grey;
    margin: 30px 0;
}

section div + p{
    color: #3f51b5;
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 20px;
}

mat-tab-group {
    text-align: center;
}

mat-tab-group p {
    padding-top: 20px;
}


/*  CAROUSEL  */


.gallery-block{
    padding-bottom: 10px;
    padding-top: 10px;
  }
  
  .gallery-block .heading{
      margin-bottom: 15px;
      text-align: center;
  }
  
  .gallery-block .heading h2{
      font-weight: bold;
      font-size: 1.4rem;
      text-transform: uppercase;
  }
  
  .gallery-block.compact-gallery .item{
    overflow: hidden;
    margin-bottom: 0;
    /* background: black; */
    background: transparent;
    opacity: 1;
    padding: 5px;
  }
  
  .gallery-block.compact-gallery .item .image{
    transition: 0.8s ease;
  }
  
  .gallery-block.compact-gallery .item .info{
    position: relative;
      display: inline-block;
  }
  
  .gallery-block.compact-gallery .item .description{
    display: grid;
      position: absolute;
      bottom: 0;
      left: 0;
      color: #fff;
      padding: 10px;
      font-size: 17px;
      line-height: 18px;
      width: 100%;
      padding-top: 15px;
      padding-bottom: 15px;
      opacity: 1;
      color: #fff;
      transition: 0.8s ease;
      text-align: center;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
      background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.39));
  }
  
  .gallery-block.compact-gallery .item .description .description-heading{
    font-size: 1em;
    font-weight: bold;
  }
  
  .gallery-block.compact-gallery .item .description .description-body{
    font-size: 0.8em;
    margin-top: 10px;
    font-weight: 300;
  }
  
  @media (min-width: 576px) {
  
    .gallery-block.compact-gallery .item .description {
      opacity: 0; 
    }
  
    .gallery-block.compact-gallery .item a:hover .description {
      opacity: 1; 
    } 
  
    .gallery-block .zoom-on-hover:hover .image {
      transform: scale(1.3);
      opacity: 0.7; 
    }
  }

  .carousel-item, .ng-star-inserted{
    outline: none !important;
  }

  .carousel.slide{
    outline: none !important;
  }

  .card-body{
    text-align: center;
    padding: 0;
    margin: 0;
  }

  .card-body p{
    padding: 0 !important; 
    margin: 0 !important;  
  }
 

  .myfancy {
    margin-top: 1px !important;
    margin-bottom: 1px !important;
    /* margin-top:50px; */
    display:flex;
    /* background:linear-gradient(to left,gray,lightgray,white,yellow,turquoise); */
    color: white !important;
  }
  .myfancy:before, .myfancy:after {
    color:white;
    content:'';
    flex:1;
    border-bottom:groove 2px;
    margin:auto 0.25em;
    box-shadow: 0 -1px ;/* ou 0 1px si border-style:ridge */
  }
 
  


  .fancy {
    line-height: 0.5;
    text-align: center;
  }
  .fancy span {
    display: inline-block;
    position: relative;  
  }
  .fancy span:before,
  .fancy span:after {
    content: "";
    position: absolute;
    height: 5px;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    top: 0;
    /* width: 600px; */
    width: 40%;
  }
  .fancy span:before {
    right: 100%;
    margin-right: 15px;
  }
  .fancy span:after {
    left: 100%;
    margin-left: 15px;
  }