
<div class="container">
<mat-toolbar style="background-color: black;">
    <div fxHide.gt-xs>
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon style="color: white;"> menu</mat-icon>
        </button>
    </div>
    <div id="homeName">
        <a routerLink="/home" style="font-size: 60px;color: white;">𝕱𝖑𝖔𝖜𝖊𝖗𝕶</a>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs style="color: white">
        <ul fxLayout fxLayoutGap="15px" class="navigation-items">
           
            <li>
                <button mat-button [matMenuTriggerFor]="menu">KATALOZI</button>                
                <mat-menu #menu="matMenu">
                    <button mat-menu-item routerLink="/valentinesday">Valentinovo</button>
                    <button mat-menu-item routerLink="/anniversary">Godišnjice</button>
                    <button mat-menu-item routerLink="/birthdays">Rođendani</button>
                </mat-menu>
            </li>
            
            <li>
                <button mat-button routerLink="/aboutUs">O NAMA</button>
            </li>

            <li>
                <button mat-button routerLink="/gallery">GALERIJA</button>
            </li>

            <li>
                <button mat-button routerLink="/contact">KONTAKT</button>
            </li>

            <li>
                <button mat-button routerLink="/a">A</button>
            </li>

            <li>
                <button mat-button routerLink="/b">B</button>
            </li>

            <li>
                <button mat-button routerLink="/c">C</button>
            </li>
                    
            <!-- <li *ngIf="isAuthorized()">
                <a [routerLink]="['/login']">Logout</a>
            </li> -->
        </ul>
    </div>
</mat-toolbar>
</div>
